# Virtual environments
venv/
.conda/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Environment files
.env
*.env
!.env.example

# Database
db/*.db

# Alembic cache
*.pyc
migrations/__pycache__/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
